<nav class="navigation">
	<div class="menu-wrapper">
		<div class="menu-content">
			<div class="mainmenu d-flex align-items-center">					
				{{#if @site.navigation}}
					{{navigation}}
				{{/if}}
			</div>
		</div> <!-- /.hours-content-->
	</div><!-- /.menu-wrapper -->
</nav>