<header class="site-header sticky">
	<div class="header-top-area">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-6 col-lg-2 order-1 order-lg-0">
					{{> branding }} {{!--Site Branding branding.hbs partial to generate branding content --}}
				</div>

				<div class="col-lg-8 order-lg-1">
					{{> site-nav }} {{!--Site Branding branding.hbs partial to generate branding content --}}
				</div>
				
				<div class="col-6 col-lg-2 order-2 order-lg-2">
					{{> header-extra}} {{!--Site Navigation site-nav.hbs partial to generate the site menu --}}
				</div>
			</div>
		</div>
	</div><!-- /.header-top-area -->
</header>
<div class="overlaybg"></div>