<form class="dv-form" data-members-form="subscribe">
    <div class="input-group">
        <input class="subscribe-email form-control" data-members-email placeholder="{{t "Email Address"}}" type="email" />
        <button class="subscribe-btn" type="submit">
            {{t "Give me my free report"}}
        </button>
    </div>
    <div class="message-success">
        {{t "Great! Check your inbox and click the link to confirm your subscription."}}
    </div>
    <div class="message-error">
        {{t "Please enter a valid email address!"}}
    </div>
</form>