<div class="social-content">
    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> svg/facebook}}</a>{{/if}}
    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> svg/twitter}}</a>{{/if}}
    <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> svg/rss}}</a>
    <a href="https://www.linkedin.com/newsletters/bitcoin-perception-7100933305163804672/" id="linkedin">{{> svg/linkedin}}</a>
</div>