{{!< default}}

{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Site header - partials/site-header.hbs --}}
{{> site-header }}

<div class="persona-hero-section">
    <div class="persona-container flex-container">
        <div class="persona-content">
            <h2>Incorporate Bitcoin media sentiment into your market data analysis</h2>
            <p>Dive deeper into how media narratives shape Bitcoin's market value with our comprehensive analytics.</p>
            <p>Understand the market beyond the hype and catch trends with insights tailored to help seasoned investors navigate the Bitcoin media space.</p>

            <div class="kg-card kg-button-card kg-align-left"><a href="#/portal/signup/free" class="kg-btn kg-btn-accent">Access Insights </a></div>
        </div>
        <div class="persona-image-container">
            <img src="https://images.unsplash.com/photo-1553877522-43269d4ea984?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDF8fGludmVzdG9yfGVufDB8fHx8MTcxMTI2NzY2OXww&ixlib=rb-4.0.3&q=80&w=820" alt="Bitcoin Perception data for investors">
        </div>
    </div>
</div>