{{!< default}}

{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Site header - partials/site-header.hbs --}}
{{> site-header }}

<div class="persona-hero-section">
    <div class="persona-container flex-container">
        <div class="persona-content">
            <h2>Dive deep into Bitcoin media coverage with exclusive research and advanced analytics tools</h2>
            <p>Advance your research with our exhaustive analyses of how Bitcoin is framed in media narratives.</p>
            <p>Delve into exclusive reports that dissect the nuances of Bitcoin media coverage, offering fresh perspectives and hypotheses for academic exploration.</p>

            <div class="kg-card kg-button-card kg-align-left"><a href="#/portal/signup/free" class="kg-btn kg-btn-accent">Access Insights </a></div>
        </div>
        <div class="persona-image-container">
            <img src="https://images.unsplash.com/photo-1555436169-20e93ea9a7ff?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMTc3M3wwfDF8c2VhcmNofDg5fHxhY2FkZW1pYXxlbnwwfHx8fDE3MTEyODAxNTl8MA&ixlib=rb-4.0.3&q=80&w=820" alt="Bitcoin Perception data for researchers">
        </div>
    </div>
</div>