<div class="col-lg-3 col-md-6">
	<aside class="widget widget_social_links">
		<h2 class="widget-title">{{t "Contact Us"}}</h2>
		<div class="widget-content">
			<div class="contact-content">
				{{!-- Changeable Content --}}
				<div id="telephone-number">
					<a href="tel:01512515246546">(015) 125 15246546</a>
				</div>
				<div id="email_address_contact"><a href="mailto:example@domain.com">example@domain.com</a></div>
			</div>
			
			{{> component/social }}
		</div>
	</aside>
</div>
