<section class="hero-banner">
    <div class="container">
        {{#if heading }}
        <h1 class="hero-title" id="hero-title">{{{heading}}}</h1>
        {{/if}}
        <a href="{{@site.url}}/data" class="hero-subscriber-button">{{t "Launch Dashboard"}} <span>{{> svg/long-arrow}}</span></a>
    </div>
</section>
<!-- Logos Section -->
<section class="section-logos">
  <div class="logos-container">
    <h2>Trusted by some of the best in Bitcoin</h2>
    <div class="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Blockstream_logo.svg/1200px-Blockstream_logo.svg.png" alt="Blockstream"></div>
    <div class="logo"><img src="https://assets-global.website-files.com/64146a6197229d65fe665d88/643dea1a51269187a60c2753_Full-Logo%E2%80%94Dark%20%E2%80%94%20No%20Border.svg" alt="Unchained"></div>
    <div class="logo"><img src="https://assets-global.website-files.com/5a2ea3a7937442000185d3c3/5b3bd6f5df3c0451697b0220_BTC-Inc.png" alt="BTC, Inc."></div>
    <div class="logo"><img src="https://jan3.com/assets/images/jan3_logo_dark.svg?v=e0ead80b8e" alt="Jan3"></div>
  </div>
</section>