<section class="hero-banner">
    <div class="container">
        {{#if heading }}
        <h1 class="hero-title" id="hero-title">{{{heading}}}</h1>
        {{/if}}
        <a href="{{@site.url}}/data" class="hero-subscriber-button">{{t "Launch Dashboard"}} <span>{{> svg/long-arrow}}</span></a>
    </div>
</section>

<section class="banner-home">
    <div class="container flex-container">
        <div class="content">
            <h1>DATABASE &amp; RANKINGS OF BITCOIN REPORTERS, MEDIA OUTLETS AND TRENDING TOPICS</h1>
            <h2>Discover fast-growing topics covered by the largest media publications</h2>
            <p>Bitcoin Perception uses technology and people to track over 40 media outlets and over 5,000 reporters to help you find the right ones to pitch to.</p>
            <p>🎯 <span>Know how media narratives shape Bitcoin's market value by publication, industry focus, or sentiment.</span></p>
            <p>💼 <span>Discover reporters writing about your specific industry.</span></p>
            <p>✉️ <span>Contact them directly with verified email addresses.</span></p>
        </div>

        <div class="holder subscribe-block-2 no-highlight">
            <div style="min-height: 58px; max-width: 440px; width: 100%; margin: 0 auto;">
                <script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js" data-button-color="#000000" data-button-text-color="#FFFFFF" data-site="https://bitcoinperception.com/" async></script>
            </div>
            <p>Join 1,000+ journalists, researchers and investors.</p>
        </div>
    </div>
</section>

<!-- Logos Section -->
<section class="section-logos">
  <div class="logos-container">
    <h2>Trusted by some of the best in Bitcoin</h2>
    <div class="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Blockstream_logo.svg/1200px-Blockstream_logo.svg.png" alt="Blockstream"></div>
    <div class="logo"><img src="https://assets-global.website-files.com/64146a6197229d65fe665d88/643dea1a51269187a60c2753_Full-Logo%E2%80%94Dark%20%E2%80%94%20No%20Border.svg" alt="Unchained"></div>
    <div class="logo"><img src="https://assets-global.website-files.com/5a2ea3a7937442000185d3c3/5b3bd6f5df3c0451697b0220_BTC-Inc.png" alt="BTC, Inc."></div>
    <div class="logo"><img src="https://jan3.com/assets/images/jan3_logo_dark.svg?v=e0ead80b8e" alt="Jan3"></div>
  </div>
</section>
